<%- include ('partials/header.ejs') %>

<div class="container">
    <div class="music-container">
        <% if (musicas.length > 0) { %>
            <% musicas.forEach(function(musica) { %>
                <div class="music-item">
                    <h3><%= musica.nome %></h3>
                    <p><%= musica.ano %></p>
                    <img src="<%= musica.url %>"> 
                    <div class="button-container">
                        <a href="/delete/<%= musica._id %>" class="delete-button"><i class="fas fa-trash"></i></a>
                        <a href="/update/<%= musica._id %>" class="update-button"><i class="fas fa-edit"></i></a>
                      </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>Sem músicas.</p>
        <% } %>
        <div class ="container-bottom">
            <form method="POST" action="/musica" >
                <p>Está faltando alguma música? Adicione clicando abaixo:</p>
                <input type="submit" class="add-music-button" value = "Adicionar Nova Musica">
            </form>
        </div>
        
    </div>
    
</div>

<%- include ("partials/footer.ejs") %>
